.cards {
    background-color: aliceblue;
    height: 400px;
    width: 400px;
    position: relative;
    border: 2px solid salmon;
    margin: 0 auto;
    border-radius: 25px;
}

.cards::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 15px;
    right: -15px;
    bottom: 15px;
    background-color: aliceblue;
    border: 2px solid salmon;
    border-radius: 25px;
    /
}

div:hover {
    animation: tada;
    /* animation: wobble; */
    animation-duration: 2s;
    animation-fill-mode: both;
}

.card:hover {
    box-shadow: -5px 5px 0px salmon;
}