body {
    background: rgb(18, 142, 158);
    font: normal 15pt arial;
    padding-top: 70px;
}


/* story11 */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-ul li {
    float: right;
}

.nav-ul a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.proj li {
    color: black;
    text-decoration: none;
    list-style-type: none;
}

header {
    color: white;
    position: fixed;
    /* story11 */
    top: 80px;
    /* story11 */
    left: 0;
    /* story11 */
    width: 100%;
    /* story11 */
    text-align: center;
}


/* story10 200~The height of the welcome section should be equal to the height of the viewport. */

#welcome-section {
    max-width: 100%;
    height: auto;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: fit-content;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    top: 50px;
}

div.card {
    text-align: center;
    padding: 10px 20px;
}

.sample-sec {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.item {
    width: 36%;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

@media all and (max-width: 500px) {
    .sample-sec {
        /* On small screens, we are no longer using row direction but column */
        justify-content: flex-start;
        flex-direction: column;
    }
    div.sample {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
}


/* story9  at list one media query */

@media (max-width: 100px) {
    p {
        font-size: 10px;
    }
}